<%- include('../partials/header.ejs')%>
<div class="body">
    <h2>About the University City Volleyball site!</h2>
    <p>
        The purpose of this site is to allow people living in the Univeristy City Area of Charlotte, NC to connect and be able to play volleyball.
    </p>

    <p>
        This site is a current work in progress and will updated regualarly. 
    </p>
    <p>
        Please see our about page to reach out to us with any Issues you might have with the site.
    </p>

    <p>
        Note that Univeristy City Volleyball does not host nor is responisble for any of the events. All events are created and organized by our wonderful users!
    </p>
</div>
<%- include('../partials/footer.ejs')%>