<%- include('../partials/header.ejs')%>
<div class="body">
    <h2>Contact</h2>
    <p>Site Manager:    ehayne15@uncc.edu</p>
    <p>Please reach out with any issues or bugs you find in the site!</p> 
</div>
<%- include('../partials/footer.ejs')%>