<%- include('../partials/header.ejs')%>
<div class="body">
    <h2>University City Volleyball</h2>
    <p>
        A site for people in Univerity City, Charlotte to organize volleyball events. 
    </p>
    <p>
        Create or attend an event for Volleyball whether it's a casual pickup game, tournament, or other event.
    </p>
    <p>
        Players of all skill ranges are welcome. Find an event today.
    </p>
</div>
<%- include('../partials/footer.ejs')%>
    